.friend-page-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 16px;
    gap: 16px;
}

.friend-page-container > :first-child {
    width: 60%;
}

.friend-page-container > :last-child {
    width: 40%;
}

@media only screen and (max-width: 1080px) {
    .friend-page-container {
        flex-direction: column;
        overflow-y: scroll;
    }

    .friend-page-container > :last-child {
        width: 100%;
        order: 1;
        height: 50%;
    }

    .friend-page-container > :first-child {
        width: 100%;
        height: 50%;
        order: 2;
    }

    .friend-page-loader {
        width: 100%;
    }   
}